<div class="jumbotron">
    <div class="btn btn-primary" [routerLink]="['/products']">Go Back to List</div>
    <h2>{{product?.Name}}</h2>
    <div class="well">
        <div class="row">
            <div class="col-md-2">Price</div>
            <!-- <div class="col-md-2" [style.color]="product.Price>4000?'red':'black'" [style.fontWeight]="product.Price>4000?'bold':'normal'">{{product.Price}}</div> -->
             <!-- <div class="col-md-2" [ngStyle]="product.Price>4000?{color:'red',fontWeight:'bold'}:{}">{{product.Price}}</div>  -->
            <!-- <div class="col-md-2" [class.red]="product.Price>4000" [class.bold]="product.Price>4000">{{product.Price}}</div> -->
            <!-- <div class="col-md-2" [ngClass]="product.Price>4000?'red bold':''">{{product.Price}}</div> -->
             <!-- <div class="col-md-2" [ngClass]="product.Price>4000?['red','bold']:[]">{{product.Price}}</div>  -->
              <div class="col-md-2" [ngClass]="getPriceClass()">{{product?.Price}}</div>  
        </div>
        <div class="row">
            <div class="col-md-2">Product Id</div>
            <div class="col-md-2">{{product?.ProductId}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Discount</div>
            <div class="col-md-2">{{product?.Discount}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Rating</div>
            <div class="col-md-2"><ap-star [rating]="product?.Rating"></ap-star></div>
        </div>
        <div class="row">
            <div class="col-md-2">Description</div>
            <div class="col-md-2">{{product?.Details?.Description}}</div>
            <div class="col-md-2">Category</div>
            <div class="col-md-2">{{product?.Details?.Catagory}}</div>
        </div>
    </div>
</div>