<div class="row main">
    <div class="main-login main-center">

        <form [formGroup]="editForm" (ngSubmit)="EditProduct()">
            <!-- <input type="hidden" formControlName="id" /> -->
            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true">Product Name</i></span>
                        <input type="text" class="form-control" formControlName="Name" name="Name" placeholder="Enter Product Name" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Product Id</i></span>
                        <input type="text" class="form-control" formControlName="ProductId" name="ProductId" placeholder="Enter Product Id" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Price</i></span>
                        <input type="text" class="form-control" formControlName="Price" placeholder="Enter Price" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Discount</i></span>
                        <input type="text" class="form-control" formControlName="Discount" placeholder="Enter Discount" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Rating</i></span>
                        <input type="text" class="form-control" formControlName="Rating" placeholder="Enter Rating" />
                    </div>
                </div>
            </div>

            <div formGroupName="Details">
                <div class="form-group">
                    <div class="cols-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Description</i></span>
                            <input type="text" class="form-control" formControlName="Description" placeholder="Enter Description" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Catagory</i></span>
                            <input type="text" class="form-control" formControlName="Catagory" placeholder="Catagory" />
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-lg login-button">Update</button>
                <button type="button" class="btn btn-primary btn-lg login-button" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary btn-lg login-button" (click)="Delete()">Delete</button>
            </div>

        </form>
    </div>
</div>