<div class="row main">
    <div class="main-login main-center">

        <form class="" [formGroup]="signUpForm" (ngSubmit)="SignUpUser()">

            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true">First Name</i></span>
                        <input type="text" class="form-control" formControlName="FirstName" name="FirstName" id="FirstName" placeholder="Enter your First Name"
                        />
                        <em class="alert alert-danger" *ngIf="FirstNameMessage">{{FirstNameMessage}}</em>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Last Name</i></span>
                        <input type="text" class="form-control" formControlName="LastName" name="LastName" id="LastName" placeholder="Enter your Last Name"
                        />
                        <em class="alert alert-danger" *ngIf="LastNameMessage">{{LastNameMessage}}</em>
                    </div>
                </div>
            </div>
            <div formGroupName="EmailGroup">
                <div class="form-group">
                    <div class="cols-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Email</i></span>
                            <input type="text" class="form-control" formControlName="Email" placeholder="Enter Email" />
                            <em class="alert alert-danger" *ngIf="EmailMessage">{{EmailMessage}}</em>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Cofirm Email</i></span>
                            <input type="text" class="form-control" formControlName="ConfirmEmail" placeholder="Cofirm Email" />
                            <em class="alert alert-danger" *ngIf="ConfirmEmailMessage">{{ConfirmEmailMessage}}</em>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Contact No</i></span>
                        <input type="text" class="form-control" formControlName="ContactNo" placeholder="Enter Contact No" />
                        <span *ngIf="signUpForm.controls.ContactNo.errors">
                                <em class="alert alert-danger" *ngIf="signUpForm.get('ContactNo')?.invalid && (signUpForm.get('ContactNo')?.touched || mouseoverLogin) && signUpForm.controls.ContactNo.errors.required">Required</em>
                            </span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="cols-sm-6">
                    <span>Send Notifications</span>
                    <span>
                    <input type="radio" formControlName="SendNotificaton" value="email" /><span>Email</span>
                    <input type="radio" formControlName="SendNotificaton" value="mobile" /><span>Mobile</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Send Catalog</i></span>
                        <input type="checkbox" formControlName="SendCatalog" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Rating</i></span>
                        <input type="number" class="form-control" formControlName="Rating" placeholder="Enter Rating" />
                        <span *ngIf="signUpForm.controls.Rating.errors">
                            <em class="alert alert-danger" *ngIf="signUpForm.get('Rating')?.invalid && signUpForm.controls.Rating.errors.range">Please rate between 1 and 5</em>
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="signUpForm.get('SendCatalog').value">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-primary" (click)="addAddress()">Add another Address</button>
                    </div>
                </div>
                <div class="row" formArrayName="addresses" *ngFor="let address of addresses.controls;let i=index">
                    <div class="well" [formGroupName]="i" >
                        <div class="form-group">
                            <div class="cols-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Address 1</i></span>
                                    <input type="text" class="form-control" formControlName="address1" placeholder="Enter Address Line 1" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="cols-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Address 2</i></span>
                                    <input type="text" class="form-control" formControlName="address2" placeholder="Enter Address Line 2" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="cols-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">Address 3</i></span>
                                    <input type="text" class="form-control" formControlName="address3" placeholder="Enter Address Line 3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="cols-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true">City</i></span>
                                    <input type="text" class="form-control" formControlName="city" placeholder="Enter City" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>


            <div class="form-group ">
                <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
                    <button type="submit" class="btn btn-primary btn-lg login-button" [disabled]="signUpForm.invalid" >Log in</button>
                </span>
                <button type="button" class="btn btn-primary btn-lg login-button" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary btn-lg login-button" (click)="SetTestData()">Test Data</button>
            </div>

        </form>
    </div>
</div>